* {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-family: Quicksand, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

li {
  list-style-position: inside;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

#wrapper {
  width: 100%;
  padding: 20px;
  background-color: #DCDCDC;
  @extend .clearfix;
}

header {
  margin-bottom: 40px;
}

#container {
  @extend .clearfix:after;
  width: 1000px;
  margin: 0 auto;
  #main {
    float: left;
    width: 600px;
    padding: 10px;
  }
  #sidebar {
    float: right;
    width: 300px;
    border: 1px solid #000;
  }
}

/* --------------------
  common
-------------------- */

.display-none {
  display: none;
}

.icon {
  display: inline;
  border: 1px solid #fff;
  border-radius: 50%;
  vertical-align: middle;
}

.mrb-20 {
  margin-bottom: 20px;
}

.mrb-30 {
  margin-bottom: 30px;
}

.mrb-40 {
  margin-bottom: 40px;
}

.mrb-50 {
  margin-bottom: 50px;
}

input, button, textarea, select {
	margin: 0;
	padding: 0;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type = submit] {
  border: none;
  padding: 10px;
  color: #fff;
}

.green {
  background: #7ED321;
}
