* {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-family: Quicksand, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

li {
  list-style-position: inside;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

#wrapper {
  width: 100%;
  padding: 20px;
  background-color: #DCDCDC;
  @extend .clearfix;
}

header {
  margin-bottom: 40px;
  .auther-icon {
    width: 20px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 60px;
  }
}

#container {
  @extend .clearfix:after;
  width: 1000px;
  margin: 0 auto;
  #main {
    float: left;
    width: 800px;
  }
  #sidebar {
    float: right;
    width: 150px;
    border: 1px solid #000;
  }
}

/* --------------------
  common
-------------------- */

.display-none {
  display: none;
}

.float-none {
  float: none!important;
}

.icon {
  margin-right: 10px;
  display: inline;
  width: 20px;
  // border: 1px solid #fff;
  // border-radius: 50%;
  vertical-align: middle;
}

// マージン・パディング系

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pl-10 {
  padding-left: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.al_center {
  text-align: center;
}

.border {
  border: solid 1px #000;
}

input, button, textarea, select {
	margin: 0;
	padding: 0;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type = submit] {
  border: none;
  padding: 10px;
  color: #fff;
}

.green {
  background: #7ED321;
}
