// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* --------------------
  common
-------------------- */

.display-none {
  display: none;
}

.icon {
  display: inline;
  border: 1px solid #fff;
  border-radius: 50%;
  vertical-align: middle;
}

.mrb-20 {
  margin-bottom: 20px;
}

input, button, textarea, select {
	margin: 0;
	padding: 0;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type = submit] {
  background: #7ED321;
  border: none;
  padding: 10px;
  color: #fff;
}

/* --------------------
  post#index
-------------------- */
.post_link {
  display: block;
}

.each_post {
  float: left;
  width: 300px;
  height: 300px;
  padding: 20px 10px;
  margin-right: 50px;
  margin-bottom: 50px;
  border: solid 1px #000000;
  list-style-type: none;
  &:nth-child(3),
  &:nth-child(6),
  &:nth-child(9) {
    margin-right: 0px;
  }
  h1 {
    text-align: center;
  }
  h2 {
    img.icon {
      display: inline;
      border-radius: 50%;
      vertical-align: middle;
    }
    span.auther-name {
    font-size: 16px;
    }
  }
  > img {
    display: block;
    margin: 0 auto 30px;
  }
  .favorites-count, .comments-count {
    font-weight: bold;
  }
}

/* --------------------
  post#show
-------------------- */

.post_title {
  margin-bottom: 10px;
}

.post_contents {
  padding: 40px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid #000;
  img {
    display: block;
    width: 100%;
  }
}

.wrap {
  display: flex!important;
  flex-direction: row;
  padding-bottom: 50px;
  border-bottom: 1px solid #000;
  .favorite-group {
    width: 1000px;
  }
  .post_auther {
    width: 400px;
  }
}

.favorite-group {
  .favorite-btn {
    display: inline-block;
    input[type="submit"]{
      height: 100%;
      display: block;
    }
  }
}

.comment-wrap {
  border: 1px solid #000;
  padding: 20px;
  .each-comment {
    display: -webkit-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
    background-color: #FFF;
    .comment-left {
      margin-right: 50px;
      .icon {
        display: block;
        width: 50px;
      }
    }
    .comment-right {

    }
    .comment-edit-form {
      display: none;
      textarea {
        width: 300px;
        font-size: 14px;
      }
      .submit {
        display: block;
      }
    }
  }
}
